In [1]:
import pandas as pd

df = pd.read_csv("/content/airlines_flights_data.csv")  # Replace with your uploaded file name
df.head()  # Show first 5 rows

,index,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
0,0,SpiceJet,SG-8709,Delhi,Evening,zero,Night,Mumbai,Economy,2.17,1.0,5953.0
1,1,SpiceJet,SG-8157,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.33,1.0,5953.0
2,2,AirAsia,I5-764,Delhi,Early_Morning,zero,Early_Morning,Mumbai,Economy,2.17,1.0,5956.0
3,3,Vistara,UK-995,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.25,1.0,5955.0
4,4,Vistara,UK-963,Delhi,Morning,zero,Morning,Mumbai,Economy,2.33,1.0,5955.0

In [2]:
df.info()             # Column types and missing values
df.describe()         # Stats
df.isnull().sum()     # Missing values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 165573 entries, 0 to 165572
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   index             165573 non-null  int64
 1   airline           165573 non-null  object
 2   flight            165573 non-null  object
 3   source_city       165573 non-null  object
 4   departure_time    165573 non-null  object
 5   stops             165573 non-null  object
 6   arrival_time      165572 non-null  object
 7   destination_city  165572 non-null  object
 8   class             165572 non-null  object
 9   duration          165572 non-null  float64
 10  days_left         165572 non-null  float64
 11  price             165572 non-null  float64
dtypes: float64(3), int64(1), object(8)
memory usage: 15.2+ MB

index               0
airline             0
flight              0
source_city         0
departure_time      0
stops               0
arrival_time        1
destination_city    1
class               1
duration            1
days_left           1
price               1
dtype: int64

In [3]:
df = df.dropna()  # or use df.fillna() if needed

In [5]:

from sklearn.preprocessing import LabelEncoder

cat_cols = ['airline', 'source_city', 'departure_time', 'stops',
            'arrival_time', 'destination_city', 'class']

le = LabelEncoder()
for col in cat_cols:
    df[col] = le.fit_transform(df[col])

In [6]:

X = df.drop(['price', 'flight'], axis=1)  # flight number not useful
y = df['price']

In [7]:
# Step 7: Train/Test Split
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [8]:
# Step 8: Train a Regression Model
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

model = LinearRegression()
model.fit(X_train, y_train)

# Predict
y_pred = model.predict(X_test)

# Evaluation
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print("Mean Squared Error:", mse)
print("R² Score:", r2)

Mean Squared Error: 7771794.951098132
R² Score: 0.4103437317478258